<p>Dear <%= @username %>!</p>

<p>Welcome to the Dr Roebuck’s Training Portal! </p>

<p>Thank you for signing up, you’ll find everything you need to learn about the Dr Roebuck’s story and products, including training courses, videos, skin diets, clinical trial information and much more!</p>

<p>Here’s how it works: </p> 

<ul>
	<li>Read each training module </li>
	<li>Complete the quiz at the end of the module – get 80% to pass!</li>
	<li>Once you passed the test, choose your complimentary product or prize!</li>
</ul>


<p>Thank you for signing up,</p>   

<p>We are so happy that you are part of the Dr Roebuck’s family now!</p>

<p>Kim & Zoe Roebuck </p>

<p>Contact us at training@drroebucks.com.au with any questions.</p>   

<p>You may unsubscribe from these emails at any time.</p>
