<div class="page">
  <div class="wrapper">
    
    <h1 class="center-text">Listing Videos</h1>

    <div class="wrapper--flex">
      <% @videos.each do |video| %>
        <div class="col--three">
          <%= link_to video.title, video %>
        </div>
      <% end %>
    </div>
  </div>
</div>

