<div class="page">
	<div class="wrapper wrapper--flex page">
		<h1 class="center-text">We are so happy to share all our healthy secrets with you</h1>

		<div class="col--three">
			<%= link_to 'Skin Diets', skin_diets_path %>
		</div>
		<div class="col--three">
			<%= link_to 'Videos', videos_path %>
		</div>
		<div class="col--three">
			<%= link_to 'Clinical Trials', clinical_trials_path %>
		</div>
		
	</div>
</div>
