<h1>We are so happy to share all our healthy secrets with you</h1>

<%= link_to 'Skin Diets', skin_diets_path %>
<%= link_to 'Videos', videos_path %>
<%= link_to 'Clinical Trials', clinical_trials_path %>