<div class="page">
	<div class="wrapper wrapper--flex page">
		<h1 class="center-text">We are so happy to share all our healthy secrets with you</h1>

		<div class="col--three-margin circle">
			<h2 class="center-absolute"><%= link_to 'Skin Diets', skin_diets_path %></h2> 
		</div>
		<div class="col--three-margin circle">
			<h2 class="center-absolute"><%= link_to 'Videos', videos_path %></h2> 
		</div>
		<div class="col--three-margin circle">
			<h2 class="center-absolute"><%= link_to 'Clinical Trials', clinical_trials_path %></h2>	
		</div>
		
	</div>
</div>
