<div class="page">
	<div class="wrapper wrapper--flex">
		<h1 class="center-text">We are so happy to share all our healthy secrets with you</h1>
		
		<div class="col--three-margin circle">
			<%= link_to  skin_diets_path do %>
				<h2 class="center-absolute">Skin Diets</h2> 
			<% end %>
		</div>
		<div class="col--three-margin circle">
			<%= link_to videos_path do %>
				<h2 class="center-absolute">Videos</h2>
			<% end %> 
		</div>
		<div class="col--three-margin circle">
			<%= link_to clinical_trials_path do %>
				<h2 class="center-absolute">Clinical Trials</h2>
			<% end %>	
		</div>
		
	</div>
</div>
