<div class="page">
	<div class="wrapper terms-page">

		<h1 class="center-text">Use of your Personal Information</h1>

		<p>When you register for a course, Dr. Roebuck’s will obtain identifiable information regarding your course performance and completion (such disclosed information may include your name, mailing address, e-mail address, retail store where you may be employed, store number where you may be employed, course registration information, course completion date, quiz completion date, quiz score, and/or reasonably similar information regarding your performance in a course on the Dr. Roebuck’s web site) for the following purposes: (a) to follow up with you to deliver an incentive gift for course completion, (b) to track course registrants course performance/completion, (c) to share course registrants’ performance/completion status within the organization or associated retailers (this may include, for example, a retailer’s head office sharing such information with store-level management), or (d) to make recruitment decisions. If disclosure of personally identifiable information is requested for a purpose not mentioned above, we will ask for your explicit consent before disclosing any of your information.</p>
		<h3>Applicable Law<h3>
		<p>You agree that the laws of the Province of Ontario, Canada govern any use of this site, without regard to rules relating to conflict of laws, including with regard to any dispute arising out of your use of this site or material from this site. The United Nations Convention on Contracts for the International Sale of Goods shall not apply. The courts of the Province of Ontario shall have exclusive jurisdiction over all claims. </p>
		<h3>Liability Disclaimer</h3>
		<p>Your use of this site and material from this site is at your own risk. </p>
		<p>Dr. Roebuck’s strives to provide accurate and up-to-date material on this site. However, Dr. Roebuck’s makes no warranties or representations as to the accuracy or timeliness of the material provided on this site. Dr. Roebuck’s assumes no liability or responsibility for any errors or omissions on this site. </p>
		<p>Neither Dr. Roebuck’s, any of its agents, nor any other party involved in creating, producing or delivering this website is liable for any damages whatsoever arising out of your access to, or use of, this site or any material from this site. Without limiting the foregoing, this site and the material provided on this site are provided “AS IS” WITHOUT WARRANTY OF ANY KIND EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT. </p>
		<p>Dr. Roebuck’s assumes no liability or responsibility for any damage to you, your computer or your other property due to your access to, use of or downloading of this site or any materials provided on this site. </p>
		<p>If Dr. Roebuck’s promises the receipt or a gift or provides you with any gifts as a result of your completion of a course, Dr. Roebuck’s assumes no liability for any damages that result from the use of that gift. </p>  
		
	</div>
	
</div>