<p>Congratulations <%= @username %>!</p>

<p>Thank you for completing our training module, you successfully passed the test!</p>

<p>Your local Roebuck’s representative will be delivering your prize shortly.</p>

<p>Stay tuned for more great training modules, videos, and content!</p> 

<p>Best,</p> 

<p>Kim & Zoe Roebuck </p>


<p>Contact us at training@drroebucks.com.au with any questions.</p>   

<p>You may unsubscribe from these emails at any time.</p>