<div class="page">
	<div class="wrapper center-text">
		<h1><%= @learning_module.title %></h1>

		<iframe src="<%= @learning_module.slide_link%>" width="900" height="600" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"></div>

		<%= link_to 'Take the Test', @learning_module.test, class: 'button button--primary' %>

	</div>
</div>
