<div class="page">
  
  <div class="wrapper">
    
    <h1 class="center-text">Listing Skin Diets</h1>


    <div class="wrapper--flex">
      <% @skin_diets.each do |skin_diet| %>
        <div class="col--three">
          <%= link_to skin_diet.title, skin_diet %>
        </div>
      <% end %>
    </div>
  </div>
</div>
