.devise
	h2 
		:margin-bottom 80px
	.form-wrapper
		:max-width 600px
		:margin 0 auto
	.sign-in
		:max-width 350px
		:margin 0 auto
	.field
		:margin-bottom 30px
		input 
			:padding 10px
			:width 100%
			:font-family 'Cochin'
			:font-size 20px
			:border 0.5px solid #ccc
			+display-for(sm xs)
				:width 100%
		input[type=submit]
			:border none
	.full
		:display inline-block
		:width 100%
		input
			:width 100%
	// .forget-fields
	// 	:margin-bottom 0
	// 	:display inline-block
	// 	:width 100%
	// 	.field
	// 		:float left
	// 		:border none
	// 		:width calc(50% - 10px)
	// 		input
	// 			:width 100%
	// 		&:nth-child(1)
	// 			:margin-right 20px
	a
		:color white
		&:hover
			:font-weight bold
	p 
		:font-size 20px
	select
		:width 100%
		:padding 5px 35px 5px 15px
		:font-size 15px
		:border 1px solid #ccc
		:height 45px
		:border-radius 0
		:-webkit-appearance none
		:font-family 'Cochin'
		:font-size 20px
		:color #999
select
	:background url(down-arrow.png) 98% / 2.5% no-repeat #fff
.col--two-margin
	select
		:background url(down-arrow.png) 96% / 5% no-repeat #fff
.col--four-margin
	select
		:background url(down-arrow.png) 94% / 10% no-repeat #fff
		+display-for(sm xs)
			:background url(down-arrow.png) 96% / 5% no-repeat #fff