<div class="as--admin-index-title">
  <h1>All Videos</h1>
  <%= link_to 'New Skin Diet', new_admin_video_path, class: 'button button--tertiary as--no-margin-bottom' %>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.title %></td>
        <td class="table--button"><%= link_to 'Edit', edit_admin_skin_diet_path(video), class: 'button button--primary button--edit as--no-margin-bottom' %></td>
      </tr>
    <% end %>
  </tbody>
</table>